@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg); /* Rotasi penuh 2 kali */
    }
}

.spin a {
    transform: rotate(0deg);
    animation: spin 3s ease-out forwards;
}

/* Mengatur posisi dan styling tambahan */
.pink {
    color: #E1306C;
}

.cyan {
    color: #0A66C2;
}

.white {
    color: #ffffff;
}

/* Ukuran ikon bisa diatur dengan Tailwind atau langsung CSS */
.sm-item {
    transition: transform 0.3s ease;
}

.sm-item:hover {
    transform: scale(1.1); /* Membesarkan sedikit saat hover */
}
