@keyframes spinGear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gear-rotate {
  animation: spinGear 4s linear infinite;
}

.gear-hover:hover {
  transform: scale(1.1) rotate(360deg);
  transition: transform 0.8s ease-in-out;
}

/* Mengatur posisi dan styling tambahan */
.pink {
    color: #E1306C;
}

.cyan {
    color: #0A66C2;
}

.white {
    color: #ffffff;
}

/* Ukuran ikon bisa diatur dengan Tailwind atau langsung CSS */
.sm-item {
    transition: transform 0.3s ease;
}

.sm-item:hover {
    transform: scale(1.1); /* Membesarkan sedikit saat hover */
}
